.DS_Store
Android/summerProject/.classpath
Android/summerProject/.project
Android/summerProject/.settings
Android/summerProject/.settings/org.eclipse.jdt.core.prefs
Android/summerProject/bin
Android/summerProject/default.properties
Android/summerProject/gen
Android/summerProject/proguard.cfg
Android/summerProject/res
.metadata
Android/.metadata/.log
Android/.metadata/.lock
Android/.metadata/.mylyn
Android/summerProject/assets
Android/BTDT/.classpath
Android/BTDT/.project
Android/BTDT/assets
Android/BTDT/bin
Android/BTDT/default.properties
Android/BTDT/gen
Android/BTDT/proguard.cfg
Android/BTDT/res
Android/.metadata